[submodule "jdibug"]
	path = refs/jdibug
	url = https://github.com/udalrich/jdibug.git

[submodule "spacemacs"]
    path = spacemacs
    url = https://github.com/syl20bnr/spacemacs.git
    branch = develop