/.lsp-session-v1
/auto-save-list/
/.last-package-update-day
/.extension/
/.dap-breakpoints
/.cache/
/.DS_Store
/network-security.data
/elpa/
/org-gcal/
/recentf
/spacemacs/
/transient/
/url/
/var/
/projects
/private
*~$
