*#*
abbrev_defs
ac-comphist.dat
auto-save-list
ede-projects.el
elpa
gcc-rtags-wrapper.sh
network-security.data
projectile-bookmarks.eld
projectile.cache
recentf
refs/jdee-server
request
semanticdb
tramp
var
.DS_Store
.cache
/.dap-breakpoints
/.extension/
/.lsp-session-v1
/eclipse.jdt.ls/
/workspace/
/.cask/
/.edbi-ds-history
/.mc-lists.el
*.log
/srecode-map.el
/transient/
private
session*
/libs/
/org-gcal/
/url/
/projects
/forge-database.sqlite
